{% extends 'base.jinja2' %}

{% block head %}
<title>{{title}}</title>

<style>

h1{
    text-align: center;
}

.back-button-wrapper{
    text-align: center;
    padding-top: 5rem;
}

.main-page-wrapper{
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
     padding-top: 3rem;
}
label{font-weight:bold}

</style>
{% endblock %}

{% block content %}
<h1>Portfolio Tracker Homepage</h1>
<p>Page to View, Edit, Delete Items from the Portfolio</p>
<hr>
    <div class="main-page-wrapper">
        <label> Portfolio actions:</label>
        <a class="btn btn-primary" href="{{ url_for('view_portfolio_app') }}" >View Portfolio</a>
        <a class="btn btn-primary" href="{{ url_for('download_portfolio_app') }}" >Download Portfolio</a>
        <br><br>
        <label> Trade actions: </label>
        <a class="btn btn-primary" href="{{ url_for('add_transaction_app') }}" >Add Trades</a>
        <a class="btn btn-primary" href="{{ url_for('remove_transaction_app') }}" >Remove Trades</a>
        <a class="btn btn-primary" href="{{ url_for('modify_transaction_app') }}" >Modify Trades</a>
    </div>

{% endblock %}