{% extends 'base.jinja2' %}
{% block head %}
<title>{{title}}</title>

<style>

h1{
    width: 100vw;
    text-align: center;
}

.buttonWrapper{
    text-align: center;
    padding-top: 5rem;
}

table{
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

</style>
{% endblock %}

{% block content %}
<h1>Portfolio View</h1>
    <div class="table-div">
        <table>
            <tr>
                <th>Transaction ID</th>
                <th>Date of Transaction</th>
                <th>Stock Ticker</th>
                <th>Number of Shares</th>
                <th>Price Bought Per Share</th>
                <th>Current Price Per Share</th>
                <th>Unrealized Gain ($)</th>
                <th>Unrealized Gain (%)</th>
                <th>Dividend Yield on Cost (%)</th>
            </tr>
            {% for x in range(total) %}
            <tr>
                <td>{{ transaction_ids[x] }}</td>
                <td>{{ dates[x] }}</td>
                <td>{{ tickers[x] }}</td>
                <td>{{ shares[x] }}</td>
                <td>${{ prices[x] }}</td>
                <td>${{ current_prices[x] }}</td>
                <td>${{ unreal_gain_dollar[x] }}</td>
                <td>{{ unreal_gain_pct[x] }}%</td>
                <td>{{ div_yield_on_cost[x] }}%</td>
            </tr>
          {% endfor %}
        </table>
    </div>
    <div class="buttonWrapper">
        <a href="{{ url_for('portfolio_app') }}"><button>Back</button></a>
        <a href="{{ url_for('my_app') }}"><button>Back to Home</button></a>
    </div>
{% endblock %}