{% extends 'base.jinja2' %}
{% block head %}
<title>{{title}}</title>

<style>

h1{
    width: 100vw;
    text-align: center;
}

form {
    text-align: center;
}

.buttonWrapper{
    padding-top: 5rem;
    text-align: center;
}

.form-wrapper{
    padding-bottom: 5rem;
    padding-top: 3rem;
}

table{
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

</style>
{% endblock %}

{% block content %}
<h1>Remove from Portfolio</h1>
<p>Remove a stock from the Investment Portfolio</p>
<hr>
    <div class="form-wrapper">
        <form method="POST">
            <label>Pick the stock to remove. Transaction ID:</label>
            <select name="remove" id="remove">
                {% for x in range(total) %}
                <option value={{ transaction_ids[x] }}>{{ transaction_ids[x] }}</option>
                {% endfor %}
            </select>
            <a href="{{ url_for('remove_transaction_app_post') }}"><button class="btn btn-primary">Submit</button></a>
        </form>
    </div>
    <div class="table-div">
        <table>
            <tr>
                <th>Transaction ID</th>
                <th>Date of Transaction</th>
                <th>Stock Ticker</th>
                <th>Number of Shares</th>
                <th>Price Bought Per Share</th>
                <th>Current Price Per Share</th>
                <th>Unrealized Gain ($)</th>
                <th>Unrealized Gain (%)</th>
                <th>Dividend Yield on Cost (%)</th>
                <th>Portfolio (%)</th>
            </tr>
            {% for x in range(total) %}
            <tr>
                <td>{{ transaction_ids[x] }}</td>
                <td>{{ dates[x] }}</td>
                <td>{{ tickers[x] }}</td>
                <td>{{ shares[x] }}</td>
                <td>${{ prices[x] }}</td>
                <td>${{ current_prices[x] }}</td>
                <td>${{ unreal_gain_dollar[x] }}</td>
                <td>{{ unreal_gain_pct[x] }}%</td>
                <td>{{ div_yield_on_cost[x] }}%</td>
                <td>{{ port_comp[x] }}%</td>
            </tr>
          {% endfor %}
        </table>
    </div>
    <div class="buttonWrapper">
        <a href="{{ url_for('portfolio_app') }}"><button>Back</button></a>
        <a href="{{ url_for('my_app') }}"><button>Back to Home</button></a>
    <p></p>
    </div>
{% endblock %}