{% extends 'base.jinja2' %}
{% block head %}
<title>{{title}}</title>

<style>

h1{
    width: 100vw;
    text-align: center;
}

.table-div{
    padding-top: 3rem;
}

.buttonWrapper{
    text-align: center;
    padding-top: 5rem;
}

table{
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

</style>
{% endblock %}

{% block content %}
    <head lang="en">
    <meta charset="UTF-8">
    <title>My First Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<h1>Portfolio View</h1>
<p>View of the current portfolio</p>
<hr>
    <div class="table-div">
        <table>
            <tr>
                <th>Transaction ID</th>
                <th>Date of Transaction</th>
                <th>Stock Ticker</th>
                <th>Number of Shares</th>
                <th>Price Bought Per Share</th>
                <th>Current Price Per Share</th>
                <th>Unrealized Gain ($)</th>
                <th>Unrealized Gain (%)</th>
                <th>Dividend Yield on Cost (%)</th>
                <th>Portfolio (%)</th>
            </tr>
            {% for x in range(total) %}
            <tr>
                <td>{{ transaction_ids[x] }}</td>
                <td>{{ dates[x] }}</td>
                <td>{{ tickers[x] }}</td>
                <td>{{ shares[x] }}</td>
                <td>${{ prices[x] }}</td>
                <td>${{ current_prices[x] }}</td>
                <td>${{ unreal_gain_dollar[x] }}</td>
                <td>{{ unreal_gain_pct[x] }}%</td>
                <td>{{ div_yield_on_cost[x] }}%</td>
                <td>{{ port_comp[x] }}%</td>
            </tr>
          {% endfor %}
        </table>
    </div>
            <div class="chart" id="linegraph">
                <script>
                    var title = "{{ title | safe }}";
                    var graphs = {{plot | safe}};
                    Plotly.plot('linegraph',graphs,{"title": title});
                </script>
            </div>
{% endblock %}