{% extends 'base.jinja2' %}
{% block head %}
<title>{{title}}</title>

<style>

h1{
    width: 100vw;
    text-align: center;
}

.buttonWrapper{
    text-align: center;
    padding-top: 3rem;
}

.helper-info{
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.header-wrap{
    border:solid 2px black;
}

</style>
{% endblock %}

{% block content %}
<h1>Stock Graphs</h1>
<p>Enter the ticker of the stock to generate a graph about a characteristic</p>
<hr>
    <div class="buttonWrapper">
        <form method="POST">
            <label>Stock/ETF Ticker:</label>
            <input type="text" id="stock" required="required" name="stock">
            <label>Metric:</label>
            <select name="stat" id="stat">
                <option value="Price">Price</option>
                <option value="Volume">Volume</option>
                <option value="Dividends">Previous Dividends</option>
            </select>
            <label>Timeframe:</label>
            <select name="time" id="time">
                <option value="5d">1 Week</option>
                <option value="1mo">1 Month</option>
                <option value="6mo">6 Months</option>
                <option value="1y">1 Year</option>
                <option value="5y">5 Years</option>
                <option value="max">All Time</option>
            </select>
            <a href="{{ url_for('my_form_graph_input') }}"><button class="btn btn-primary">Submit</button></a>
        </form>
         <div class="helper-info">
            <button type="button" class="btn btn-secondary" data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true"
                    title="<em>For Stocks/ETFs not located on the NYSE/NASDAQ add a</em> <u>suffix</u> <em>of the Market the equity is on</em>">
                    Hover for more info
            </button>
                <script>
                    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)})
                </script>
        </div>
    </div>
{% endblock %}