{% extends 'base.jinja2' %}
{% block head %}
<title>{{title}}</title>

<style>

h1{
    padding-top: 4rem;
    width: 100vw;
    text-align: center;
    padding-bottom: 1rem;
}

.header-wrap{
    border:solid 2px black;
}

p{
    width: 100vw;
    text-align: center;
    padding-bottom: 1rem;
}

.helper-info{
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.buttonWrapper{
    text-align: center;
    padding-top: 3rem;
}

</style>
{% endblock %}

{% block content %}
<h1>Stock Lookup</h1>
<p>Enter the ticker of the stock to get some information about it</p>
<hr>

    <div class="buttonWrapper">
        <form method="POST">
            <label>Stock/ETF Ticker:</label>
            <input type="text" id="stock" required="required" name="stock">
            <label>Statistic:</label>
            <select name="stat" id="stat">
                <option value="price">Price</option>
                <option value="longBusinessSummary">Description</option>
                <option value="dividendYield">Dividend Yield</option>
                <option value="lastDividendValue">Previous Dividend</option>
                <option value="exDividendDate">Next ex-Dividend Date</option>
                <option value="lastDividendValue">Payout Ratio</option>
                <option value="forwardEps">Forward EPS</option>
                <option value="trailingEps">Trailing EPS</option>
                <option value="pegRatio">PEG Ratio</option>
            </select>
           <!-- <a href="{{ url_for('my_form_stock_post') }}" class="btn btn-primary"><button></button>Submit</a>-->
            <a href="{{ url_for('my_form_stock_post') }}"><button class="btn btn-primary">Submit</button></a>
        </form>
        <div class="helper-info">
            <button type="button" class="btn btn-secondary" data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true"
                    title="<em>For Stocks/ETFs not located on the NYSE/NASDAQ add a</em> <u>suffix</u> <em>of the Market the equity is on</em>">
                    Hover for more info
            </button>
                <script>
                    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)})
                </script>
        </div>
    </div>
{% endblock %}